# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Java / Eclipse
.classpath
.project

# Python
__pycache__/
*.pyc
venv/*
.idea/*
bin/

# Latex
*.synctex*
*.fdb_latexmk
*.fls
*.log
*.aux
*.toc
report.out
*.pdf
*.bbl
*.bcf
*.blg
*.run.xml
*.tdo
*.out

# Savile Row
*.info
*.infor
*.minion
*.solution.*

# Signals
*.wav
*.mp3
*.asv

# Data Analysis
*.xlsx

# ML
*.th
*.pt

# Dataset
dataset/*
HomerComp*
perseus/*
